:root {
    --primary-color: #131414;
    --secondary-color: #689636;
    --accent1-color: #FDFCFB;
    --accent2-color: #040434;
    --heading-color:rgb(26, 1, 1);
    --text-color: black;
    --background-color: rgb(240, 233, 233);
    --body-font: "Roboto Mono", monospace;
    --max-width: 1000px;
}

h1, h2 {
    color: var(--accent2-color);
    padding: 3px;
    margin-bottom: 35px;
    box-sizing: border-box;
    border: 1px solid #e4e8ef;  
    background-color: rgb(238, 234, 234);
}

p {
    color: var(--primary-color);
    padding: 0;
    margin: 10px;
}

.socialmedialinks a {
    text-decoration: none;
}

.socialmedialinks img {
    width: 25px;
}

header, main, footer {
    max-width: var(--max-width);
    margin: auto;
}

.hero {
    position: relative; 
}

.hero h1 {
    position: absolute;
    top: 1%;
    left: 25%;
    font-size: 2.5rem;
    color: rgba(246, 242, 242, 0.786);
    background-color: rgba(18, 8, 8, 0.414);
    border: 1px solid rgba(83, 82, 82, 0.8);
    text-align: center;
    border-radius: 10px;
}

.hero article {
    position: absolute;
    top: 40%;
    left:20%;
    right: 15%;
    background-color: rgba(41, 40, 94, 0.526);
    color: aliceblue;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid rgba(200, 197, 197, 0.8);
}

.hero article img {
    float: right;
    width: 250px;
    height: auto;
    margin: 0 0 5px 10px;
    border: 1px solid rgb(31, 16, 16);
    padding: 1px;
    background-color: #504d4d;
}

.hero article p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    color: #f8f1f1;
}
