nav{
    background-color: steelblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1 { 
    color:steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 850px;
}

aside {
    width: 400px;
    margin: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 10px;
    background-color: whitesmoke;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 5px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}