:root {
    --main-bg-color: steelblue;
    --main-padding: 10px;
    --border: 1px solid rgba(0,0,0,0.2);
    --main-text-color: white;
    --text-color: black;
    --box-color: whitesmoke;
}

nav{
    background-color: var(--main-bg-color);
    padding: var(--main-padding);
}

nav a{
    color: var(--main-text-color);
    display: block;
    padding: var(--main-padding);
}

h1 { 
    color: var(--text-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px whitesmoke;
}

p {
    padding: 0;
}

main {
    max-width: 850px;
}

aside {
    width: 400px;
    margin: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: var(--main-padding);
    background-color: var(--box-color);
    color: var(--text-color);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 5px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}