* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: rgb(2, 74, 128);
    --main-padding: 10px;
    --main-border: 1px solid rgba(0,0,0,0.2);
    --main-text-color: white;
    --text-color: black;
    --box-color: whitesmoke;
    --font-size: 16px;
}

nav{
    background-color: var(--main-bg-color);
    padding: var(--main-padding);
}

nav a{
    color: var(--main-text-color);
    display: block;
    padding: var(--main-padding);
}

h1 { 
    color: var(--text-color);
}

main img {
    width: 110px;
    height: auto;
    border: 1px solid rgb(8, 8, 8);
    padding: 2px;
    box-shadow: 0 0 30px rgb(210, 203, 203);
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 850px;
}

aside {
    width: 400px;
    margin: 5px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 5px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--main-border);
    padding: 1rem;
    background-color: whitesmoke;
    color: var(--text-color);
}

/* Overlay Country heading on the image */
aside {
    position: relative;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 20px;
}
